/* style.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to right, #b186e0, #6c97e1);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #070b68a4;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 80%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 25px; 
    box-sizing: border-box; 
    font-size: 1em; 
    color: #666; 
    background-color: #f9f9f9; 
    -webkit-transition: all 0.3s; 
    -moz-transition: all 0.3s; 
    transition: all 0.3s;
}
input[type="text"]:focus { 
    border-color: #8e40e1; 
    box-shadow: 0 0 8px rgba(131, 38, 230, 0.8); 
    outline: none; 
    background-color: #fff; }

button[type="submit"] {
    background: #7479d8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: #cbb9de;
}
